/**
* Frontpage Banner
*/
.camp-gdl-front {
  background-position: center center;
  background: radial-gradient( circle, #3091B9, #194B6E);
}
.fighter-camp img {
  display: none;
  max-width: 100%;
}
.path-frontpage h2 {
  font-size: 3em;
  font-weight: bold;
  color: rgb(90, 174, 212);
  text-shadow: 1px 2px 2px rgb(204, 204, 204);
}
.gmap {
  width: 100%;
  height: auto; 
  overflow: hidden;
  margin: 1em 0;
}
.agave {
  background-image: url("../images/custom/agave.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: 75% 100%;
  height: 715px;
}
.date-camp {
  text-align: center;
  img {
    display: none;
  }
}
