{% include 'region--header.html.twig' %}
<section class="camp-gdl-front">
  <div class="agave">
    <div class="container">
      <div class="row">
        <div class="valign center-align fighter-camp">
          <img  src="themes/custom/d8_materialize/images/custom/fighter-camp.png" />
        </div>
        <div class="date-camp">
           <img  src="themes/custom/d8_materialize/images/custom/f1.png"/>
           <img  src="themes/custom/d8_materialize/images/custom/f2.png"/>
           <img  src="themes/custom/d8_materialize/images/custom/f3.png"/>
           <img  src="themes/custom/d8_materialize/images/custom/f4.png"/>
        </div>
      </div>
    </div>
  </div>
</section>
{% if page.content %}
   <section class="main-content">
    {{ page.content }}
   </section>
{% endif %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                {% if page.footer_left %}
                    {{ page.footer_left }}
                {% endif %}
            </div>
            <div class="col l6 s12">
                {% if page.footer_right %}
                    {{ page.footer_right }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            {% if page.footer_bottom %}
                <div class="row l-footer">
                    <div class="col s12">
                        {{ page.footer_bottom }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</footer>
